extends ../defaults/defaultPage

block main
  main(class="table", id="customers_table")
    section(class="table__header")
      h1 #{header}
      div(class="input-group")
        input(type="search", placeholder="Search Data...")

    section(class="table__body")
      table
        thead
          tr
            th(style="font-weight: bold; text-align: center;") ID
            th(style="font-weight: bold; text-align: center;") Hình ảnh
            th(style="font-weight: bold; text-align: center;") Tên
            th(style="font-weight: bold; text-align: center;") Tuổi
            th(style="font-weight: bold; text-align: center;") Giới tính
            th(style="font-weight: bold; text-align: center;") Email
            th(style="font-weight: bold; text-align: center;") Quốc gia
            th(style="font-weight: bold; text-align: center;") Vai trò
            th(style="font-weight: bold; text-align: center;") Hành động

        tbody
            each item in users
                tr(style="text-align: center;")
                    td #{item.id}
                    td
                        img(src=item.image, alt=item.firstName, width="100", height="auto", style="border-radius: 5px;")
                    td #{item.firstName}
                    td #{item.age}
                    td #{item.gender}
                    td #{item.email}
                    td #{item.country}
                    td #{item.role}
                    td
                        button.btn.btn-primary(style="border-radius: 5px;") Xem


