extends ../defaults/defaultAdmin
block main
  // Import css
  link(rel="stylesheet", href="/css/admin/tableDefault.css")

  main(class="table", id="customers_table")
    section(class="table__header")
      h1 #{header}
      div(class="input-group")
        input(type="search", placeholder="Search Data...")

    section(class="table__body")
      table
        thead
          tr
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Trạng thái
            th Hành động

        tbody
          each item, index in products
            tr(style="text-align: center;")
              td #{index + 1}
              td
                img(src=item.thumbnail, alt=item.title, width="100", height="auto", style="border-radius: 5px;")
              td #{item.title}
              td #{item.price}$ 
              td
                a(href="#", class=`status-link ${item.status}`, style="text-decoration: none; padding: 5px 10px; border-radius: 20px;") #{item.status}
              td
                button.btn.btn-primary(style="border-radius: 5px;") Chỉnh sửa
                button.btn.btn-danger(style="border-radius: 5px; margin-left: 10px;") Xóa

