extends ../defaults/defaultClient

block main
  link(rel="stylesheet", href="/css/admin/tableDefault.css")

  main(class="table", id="customers_table")
    section(class="table__header")
      h1 #{header}
      div(class="input-group")
        input(type="search", placeholder="Tìm kiếm sản phẩm", class="input-text")

    section(class="table__body")
      table
        thead
          tr
            th STT
            th Mã sản phẩm
            th Hình ảnh
            th Tên sản phẩm
            th Giá
            th Số lượng 
            th Thời gian

        tbody
          each item, index in historyItem
            tr
              td #{index + 1}
              td #{item.maSanPham}
              td
                img(src=item.hinhAnh, alt=`Hình ảnh của sản phẩm ${item.tenSanPham}`, class="product-image")
              td #{item.tenSanPham}
              td #{item.gia} VNĐ
              td #{item.soLuong}
              td #{item.thoiGian}